# Set the default behavior, in case people don't have core.autocrlf set.
**/* text=auto

# All shell scripts must use LF
LICENSE text eol=lf
.editorconfig text eol=lf
.travis.yml text eol=lf
**/.gitattributes text eol=lf
**/.gitignore text eol=lf
**/*.csv text eol=lf
**/*.redis text eol=lf
**/*.sh text eol=lf
**/*.nim text eol=lf
**/*.nimInc text eol=lf
**/*.md text eol=lf
